@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@font-face {
  font-family: "Century Gothic";
  font-weight: bold;
  src: url("../fonts/century-gothic-bold.ttf") format("truetype"),
}
$poppins-font: 'Poppins', sans-serif;
$century-font: 'Century Gothic', sans-serif;

.highlight {
  color: $primary-font-color;
}
body {
  font-family: $poppins-font;
}