// Colors
$footer-bg: #000000; 
$primary-font-color: #4AC959;
$primary-border-color: #4AC959;

// Margin and Paddings
$margin-bottom-size: 1.5rem;
$padding-section: 7.50rem;



// Breakpoints
$breakpoint-mobile: 425px;

